/* Main CSS imports */
@import 'base.css?v=65';
@import 'layout.css?v=65';
@import 'components.css?v=65';
@import 'apps/chat.css?v=65';
@import 'apps/moments.css?v=65';
@import 'apps/character.css?v=65';
@import 'apps/voicecall.css?v=65';